---
---

<!DOCTYPE html>

<html lang="en">
  {% include head %}

  <body class="w-100 bg-near-white">
    <header class="w-100 white bg-near-black">
      {% include navigation %}
    </header>

    {% if headerImage %}
    <div class="w-100">
      <img src="{{headerImage}}" title="{{title}}" alt="{{title}}" />
    </div>
    {% endif %}

    <main class="w-80 center bg-white shadow-4 mv2 pv2 ph4">
      <h2 class="f2 mt3 mb1">{{title}}</h2>
      <div class="h2 w2 bb bw2 b--near-black"></div>
      <div class="pt4">
        {{content}}
      </div>
    </main>

    {% include footer %}
  </body>
</html>
