---
layout: default
---

<main class="w-full max-w-7xl mx-auto {{theme.main.background}}">
  <div id="pageTitle" class="py-2 text-center space-y-2">
    <h2 class="uppercase {{theme.main.text}} text-6xl font-extrabold">{{title}}</h2>
    {% if subtitle %}
    <h3 class="uppercase {{theme.main.secondary}} text-4xl font-semibold">{{subtitle}}</h3>
    {% endif %}
    {% if showDate %}
    <h3 class="uppercase {{theme.main.date}} text-2xl font-semibold">{{page.date | pageDate}}</h3>
    {% endif %}
  </div>

  {% if headerImage %}
  <div class="w-full py-2 px-0">
    <img
      src="{{headerImage}}"
      title="{{title}}"
      alt="{{title}}"
      class="rounded-none md:rounded-md shadow-md"
    />
  </div>
  {% endif %}  
</main>

{%- capture sectionContent -%}
  {% include partials/content.liquid, content: content %}
{%- endcapture -%}

{%- include section, sectionContent: sectionContent, theme: 'light' -%}

