---
layout: default
---

<div class="bg-white">
  <div class="w-100 w-80-ns center">
    {% if headerImage %}
    <div class="fl w-100 w-40-ns">
      <img src="{{headerImage}}" title="{{title}}" alt="{{title}}" />
    </div>
    {% endif %}

    <main class="fl w-100 w-60-ns center bg-white mt0 mb2 pv2 ph4">
      <h2 class="f2 f1-ns lh-title fw8 mt3 mb1 near-black">{{title}}</h2>
      <div class="h2 w2 bb bw2 b--near-black"></div>
      <div class="pt4 f4 lh-copy">{{content}}</div>
    </main>
  </div>
</div>
