---
layout: default
---

<div class="w-100 cf">
  <div class="fl w-100 w-50-ns" id="audio-player">
    <div id="" class="shadow-4">
      <div class="w-100">
        <img
          data-amplitude-song-info="cover_art_url"
          title="{{media.title}}"
          alt="{{media.title}}"
        />
        <progress
          class="amplitude-song-played-progress"
          id="song-played-progress"
        ></progress>
      </div>
      <div class="cf bg-near-white mid-gray" id="player-controls">
        <div class="fl w-50 tc pv4 br bw1 b--moon-gray">
          <i
            class="fa fa-3x fa-play-circle grow-large dib navy"
            aria-hidden="true"
            id="play-pause-button"
          ></i>
        </div>
        <div class="fl w-50 tc pv4">
          <a
            href="{{site.mediaFilesUrl}}{{media.content}}"
            title="{{media.title}}"
            class="mid-gray"
            download
            ><i
              class="fa fa-3x fa-arrow-circle-down grow-large dib navy"
              aria-hidden="true"
            ></i
          ></a>
        </div>
        <div class="fl w-60 tl pl3 pv4 bt bw1 b--moon-gray">
          <div class="mid-gray">
            <div data-amplitude-song-info="name" class="song-name fw6"></div>
            <div data-amplitude-song-info="artist"></div>
          </div>
        </div>
        <div class="fl w-40 tr pr3 pv4 bt bw1 b--moon-gray mid-gray">
          <span class="amplitude-current-time"></span> /
          <span class="amplitude-duration-time"></span>
        </div>

        {% if tags contains "podcast" %}
        <div class="fl w-100 tc pt2 pb4 bt bw1 b--moon-gray mid-gray">
          <h3 class="ttu">Subscribe to the podcast</h3>
          <a
            href="{{podcast.links.iTunes}}"
            target="_blank"
            rel="noopener"
            class="dib grow"
            ><img
              src="/images/podcasts/feed/icon-applepodcasts.svg"
              class="h3 pr2"
          /></a>

          <a
            href="{{podcast.links.overcast}}"
            target="_blank"
            rel="noopener"
            class="dib grow"
            ><img src="/images/podcasts/feed/icon-overcast.svg" class="h3 pr2"
          /></a>
          <a
            href="{{podcast.links.pocketCasts}}"
            target="_blank"
            rel="noopener"
            class="dib grow"
            ><img
              src="/images/podcasts/feed/icon-pocketcasts.svg"
              class="h3 pr2"
          /></a>
          <a
            href="{{podcast.links.rss}}"
            target="_blank"
            rel="noopener"
            class="dib grow"
            ><img src="/images/podcasts/feed/icon-rss.svg" class="h3"
          /></a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="fl w-100 w-50-ns ph0 ph3-ns pt3 pt0-ns">
    {% if media.tracklist %}
    <h3 class="f4 f3-ns mv0">Tracklist</h3>
    <ol>
      {% for tracklist in media.tracklist %}
      <li class="gray f5 pb3">{{tracklist}}</li>
      {% endfor %}
    </ol>
    {% endif %}
  </div>
</div>

<div class="pv2 f4 lh-copy">
  {{content}}
</div>

<script>
  let isPlaying = false;
  const playPauseButton = document.getElementById('play-pause-button');

  const showAudioButtons = (playing = true) => {
    if (playing) {
      playPauseButton.classList.add('fa-pause-circle');
      playPauseButton.classList.remove('fa-play-circle');
    } else {
      playPauseButton.classList.add('fa-play-circle');
      playPauseButton.classList.remove('fa-pause-circle');
    }
  };

  const audioFinishedPlaying = () => {
    isPlaying = false;
    showAudioButtons(isPlaying);
  };

  const mediaTitle = '{{media.title}}';
  const mediaAuthor = '{{media.author}}';
  const mediaImage = '{{media.image}}';
  const options = {
    songs: [
      {
        name: mediaTitle || '{{title}}',
        artist: mediaAuthor || 'DJ Cruze',
        url: '{{site.mediaFilesUrl}}{{media.content}}',
        cover_art_url: mediaImage || '/images/mixes/default-logo-600x600.jpg',
      },
    ],
    callbacks: {
      stop: audioFinishedPlaying,
    },
  };
  Amplitude.init(options);

  // Handle a click on the song played progress bar.
  document
    .getElementById('song-played-progress')
    .addEventListener('click', function (event) {
      const offset = this.getBoundingClientRect();
      const x = event.pageX - offset.left;

      Amplitude.setSongPlayedPercentage(
        (parseFloat(x) / parseFloat(this.offsetWidth)) * 100
      );
    });

  // TODO: Add touch handler?
  playPauseButton.addEventListener('click', function (event) {
    console.log('Clicked play/pause button');
    if (!isPlaying) {
      Amplitude.play();
      isPlaying = true;
    } else {
      Amplitude.pause();
      isPlaying = false;
    }
    showAudioButtons(isPlaying);
  });
</script>
