progress.amplitude-song-played-progress {
  background-color: #001b44;
  -webkit-appearance: none;
  /* appearance: none; */
  width: 100%;
  height: 8px;
  display: block;
  cursor: pointer;
  border: none;
}
progress.amplitude-song-played-progress:not([value]) {
  background-color: #001b44;
}

progress[value]::-webkit-progress-bar {
  background-color: #001b44;
}

progress[value]::-moz-progress-bar {
  background-color: #357edd;
}

progress[value]::-webkit-progress-value {
  background-color: #357edd;
}
