<div class="w-100 pa0">
<div class="flex flex-wrap items-start justify-center pt4">
{%- for item in collection reversed -%}

{%- include partials/audioCollectionItem, item: item -%}

{%- endfor -%}
</div>
</div>
