<form action="https://eocampaign1.com/form/577ac91e-c2de-11ee-9f37-fd773dd6a3d3" class="emailoctopus-form" data-recaptcha-widget-id="100003" method="POST">
<div class="inline-container" eo-row="" data-form="577ac91e-c2de-11ee-9f37-fd773dd6a3d3" data-version="2">
    <!-- First name -->
    <label class="block">
        <span class="text-gray-700">First name</span>
        <input id="field_1" name="field_1" placeholder="First name" type="text" required="required" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" aria-label="First name">
    </label>

    <!-- Email address -->
    <label class="block">
        <span class="text-gray-700">Email address</span>
        <input id="field_0" name="field_0" type="email" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" placeholder="hello@example.com" required="required" aria-required="true" aria-label="Email address">
    </label>

    <label class="inline-flex items-center">
        <input type="checkbox" id="consent" name="consent" class="rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-offset-0 focus:ring-indigo-200 focus:ring-opacity-50">
        <span class="ml-2">I consent to receiving your weekly newsletter via email.</span>
    </label>

    <!-- Submit -->
    <div class="py-2">
        <input type="submit" class="cursor-pointer rounded-md bg-cyan-800 text-white font-bold p-2 my-4 w-full" value="Join the party 🎉">
    </div>

    <div aria-hidden="true" class="hidden">
        <input type="text" name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a" tabindex="-1" autocomplete="nope">
    </div>

    <!-- <div class="grecaptcha-badge" data-style="bottomright" style="width: 256px; height: 60px; display: block; transition: right 0.3s ease 0s; position: fixed; bottom: 14px; right: -186px; box-shadow: gray 0px 0px 5px; border-radius: 2px; overflow: hidden; visibility: hidden;">
        <div class="grecaptcha-logo">
            <iframe title="reCAPTCHA" width="256" height="60" role="presentation" name="a-n9700pq3ahpy" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LdYsmsUAAAAAPXVTt-ovRsPIJ_IVhvYBBhGvRV6&amp;co=aHR0cDovL2xvY2FsaG9zdDo4MDgw&amp;hl=en&amp;type=image&amp;v=MHBiAvbtvk5Wb2eTZHoP1dUd&amp;theme=light&amp;size=invisible&amp;cb=rjd0lb4m7n7e"></iframe>
        </div>
    </div>
    <div class="grecaptcha-error"></div>
    <textarea id="g-recaptcha-response-100003" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea> -->
</div>
</form>